<% visitor = notice.visitor %>
<% visited = notice.visited %>
<div class="notice-content">
  <%= link_to user_path(visitor) do %>
    <%= visitor.name %>さんが
    <% if notice.action == 'like' %>
      <%= link_to 'あなたの投稿', notice.post %>
      <span>にいいねしました</span>
    <% elsif notice.action == 'comment' %>
      <% if notice.post.user_id == visited.id %>
        <%= link_to "あなたの投稿", notice.post %>
      <% else %>
        <%= link_to post_path(notice.post) do %>
          <%= notice.post.user.name + 'さんの投稿' %>
        <% end %>
      <% end %>
      <span>にコメントしました</span>
      <p><%= Comment.find_by(id: notice.comment_id)&.content %></p>
    <% end %>
    <p><%= time_ago_in_words(notice.created_at).upcase %></p>
  <% end %>
</div>
