<%= image_tag @user.image.url %>
<p>name: <%= @user.name %></p>
<p>悩み中: <%= @user.posts.where(status: 0).count %></p>
<p>購入: <%= @user.posts.where(status: 1).count %></p>
<p>断念: <%= @user.posts.where(status: 2).count %></p>

<% if @user.id == current_user.id %>
  <%= link_to 'edit', edit_user_registration_path %>
<% else %>
  <% @user.posts.each do |post| %>
    <%= link_to post do %>
      <div>
        <p><%= image_tag post.image.url %></p>
        <p>タイトル <%= post.title %></p>
        <p>カテゴリー <%= post.category.name %></p>
        <p>いいね <%= post.like_users.count %></p>
        <p><%= post.status %></p>
      </div>
    <% end %>
  <% end %>
<% end %>