<% @user.posts.where(status: 0).each do |post| %>
  <%= link_to post do %>
    <div>
      <p><%= image_tag post.image.url %></p>
      <p>タイトル <%= post.title %></p>
      <p>カテゴリー <%= post.category.name %></p>
      <p>コメント <%= post.comments.count %></p>
      <p>いいね <%= post.like_users.count %></p>
      <p><%= post.status %></p>
    </div>
  <% end %>
<% end %>