<h1>投稿一覧</h1>
<% @posts.each do |post| %>
  <%= link_to post do %>
    <div>
      <p>画像 <%= image_tag post.image.url %></p>
      <p>タイトル <%= post.title %></p>
      <p>カテゴリー</p>
      <p>内容 <%= post.content %></p>
      <p>値段 <%= post.price %></p>
      <p>予算 <%= post.budget %></p>
      <p><%= post.status %></p>
    </div>
  <% end %>
<% end %>

<%= link_to "new", new_post_path %>