<h1>投稿一覧</h1>
<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col s12 m4 l4">
        <%= link_to post do %>
          <div class="card medium">
            <% if post.status == '迷い中' %>
            <% elsif post.status == '購入' %>
              <div class="status purchase">
                <i class="medium material-icons">mood_good</i>
              </div>
            <% else %>
              <div class="status abandonment">
                <i class="medium material-icons">mood_bad</i>
              </div>
            <% end %>
            <div class="card-image">
              <%= image_tag post.image.url %>
            </div>
            <div class="card-title"><%= post.title %></div>
            <div class="card-action">
              <p>カテゴリー <%= post.category.name %></p>
              <span>コメント <%= post.comments.count %></span>
              <span>いいね <%= post.like_users.count %></span>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="fixed-action-btn">
  <%= link_to new_post_path, class: "btn-floating btn-large red" do %>
    <i class="large material-icons">mode_edit</i>
  <% end %>
</div>
