<h1>欲しい物の情報を入力</h1>
<%= form_with(model: @post, local: true) do |f| %>
  <%= f.label 'サムネイル（スクリーンショットなど）' %>

  <div id="img_field" onClick="$('#file').click()" >

    <% if @post.image.url.present? %>
      <%= image_tag @post.image.url %>
    <% else %>
      <i class="material-icons">image</i>
      <i class="material-icons add">add</i>
    <% end %>
  </div>
  <div>
    <%= f.label :image %>
    <%= f.file_field :image, class: "image", style: "display:none;", id: "file" %>
    <%= f.hidden_field :image_cache %>
  </div>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :category %>
    <%= f.select :category_id, options_for_select(Category.all.map{ |c| [c.name, c.id] }), prompt: "Select Category" %>
  </div>
  <div>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <div>
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>
  <div>
    <%= f.label :budget %>
    <%= f.number_field :budget %>
  </div>
  <%= f.submit %>
  <%= link_to 'back', :back %>
<% end %>