<div class="row">
  <div class="show-title">
    <%= @post.title %>
  </div>
  <div class="col m6 offset-m3 s12">
    <div class="card">
      <div class="card-image">
        <% if @post.status == '迷い中' %>
        <% elsif @post.status == '購入' %>
          <div class="status purchase">
            <i class="medium material-icons">mood_good</i>
          </div>
        <% else %>
          <div class="status abandonment">
            <i class="medium material-icons">mood_bad</i>
          </div>
        <% end %>
        <%= image_tag @post.image.url %>
      </div>
    </div>
  </div>
  <div class="col m6 offset-m3 s12">
    <div class="card">
      <div class="card-content">
        <p>投稿者 <%= link_to @post.user.name, user_path(@post.user.id) %></p>
        <p>カテゴリー <%= @post.category.name %></p>
        <div>
          <span>コメント <%= @post.comments.count %></span>
          <span>いいね <%= @post.like_users.count %></span>
        </div>
        <div>
          <span>値段 <%= @post.price %></span>
          <span>予算 <%= @post.budget %></span>
        </div>
        <% unless @post.user_id == current_user.id %>
          <% if @like.present? %>
            <p><%= link_to 'いいねをはずす', like_path(id: @like.id), method: :delete, class: 'btn btn-danger' %></p>
          <% else %>
            <p><%= link_to 'いいね!', likes_path(post_id: @post.id), method: :post, class: 'btn btn-primary' %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>


  <div class="col m6 offset-m3 s12">
    <div class="card">
      <div class="card-content">
        <%= @post.content %>
      </div>
    </div>
  </div>
  <div class="col m6 offset-m3 s12">
    <div class="card">
      <div class="card-content">
        <% @comments.each do |comment| %>
          <% unless comment.id.nil? %>
            <p><%= link_to comment.user.name, user_path(comment.user.id) %></p>
            <p><%= comment.content %></p>
            <p><%= time_ago_in_words(comment.created_at) %> ago</p>
            <% if comment.user == current_user || @post.user == current_user %>
              <p><%= link_to '削除する', post_comment_path(comment.post_id, comment.id), method: :delete, remote: true %></p>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col m6 offset-m3 s12">
    <%= form_with(model: [@post, @comment] ) do |form| %>
      <div>
        <%= form.text_area :content %>
      </div>
      <div>
        <%= form.submit "コメントをする" %>
      </div>
    <% end %>
  </div>

  <% if @post.user == current_user %>
    <%= link_to 'edit', edit_post_path(@post) %>
    <%= link_to 'delete', post_path(@post), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
</div>