<!DOCTYPE html>
<html>
<head>
  <title>Hocno</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<%= link_to "Hocno", posts_path %>
<% if user_signed_in? %>
  <%= link_to "new", new_post_path %>
  <%= link_to 'listing', listing_users_path %>
  <%= link_to 'like', like_users_path %>
  <%= link_to 'notification', notices_path %>
  <%= link_to 'thinking', thinking_users_path %>
  <%= link_to 'purchase', purchase_users_path %>
  <%= link_to 'abandonment', abandonment_users_path %>
  <%= link_to 'profile', user_path(current_user) %>
  <%= link_to "sign out", destroy_user_session_path, method: :delete %>
  <%= link_to "close_account",  close_account_users_path %>
  <%= link_to "admin", rails_admin_path if current_user.admin? %>
  <%= render partial: 'posts/search_form' %>
  <ul>
    <%= link_to 'like', like_users_path %>
    <%= link_to 'notification', notices_path %>
    <%= link_to "( ^ω^ )", user_path(current_user) %>
  </ul>
<% else %>
  <%= link_to "Sign Up", new_user_registration_path %>
  <%= link_to "Log In", new_user_session_path %>
<% end %>
<div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>
<%= yield %>
</body>
</html>
